body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('jayjay.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: #03d17b;
    color: white;
    padding: 20px;
    font-size: 24px;
}

nav {
    background: #11b06e;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

section {
    padding: 50px;
    background: rgb(180, 241, 198);
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background:green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background:red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 18px;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

footer {
    background: #343a40;
    color: white;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
